/* Google-Font */
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat+Alternates&display=swap');

/* Global Style */

body {
    background-color: white;
    font-family: 'Merienda', cursive;
    color: #783F2E;
    text-align: center;
}

/* Logo */

#logo {
    padding:10px
}

/*submit button and input name area */
#submit-button, #awesome-button, #terrible-button, #done, #user-name {
    background-color: white;
    color: #783F2E;
    padding: 10px;
    margin: 10px;
    border-color: #783F2E;
    border-radius: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
}

#submit-button:hover, #awesome-button:hover, #terrible-button:hover, #done:hover {
    background-color: #783F2E;
    color: white;
    padding: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    border-color: white;
    border-radius: 20px;
}



/*notice area */

#notice {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #9F2851;
    margin-top: 50px;
}