/* Google-Font */
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300&family=Montserrat&display=swap');
/* Global Style */

body {
    background-color: white;
    font-family: 'Laila', sans-serif;
    color: #3C3C3C;
    text-align: center;
}

/* Logo */

#logo {
    padding:10px;
}

/* list style */
.list {
    list-style: none;
    width:400px;
    margin:auto;
    padding-right: 10px;
    background-color: rgba(191, 194, 217, 50%);
}

/* main box style */
#box-area {
    margin: auto;
    width: 50%;
    padding: 20px;
}

#intro, #feeling-today, #awesome-options, 
#terrible-options, #feeling-angry, #feeling-sad, 
#feeling-tired, #feeling-worthless, #complete, #feedback {
    display: none;
    width: 100%;
    line-height: 30px;
    font-size: 18px;
}

#suggestion-box {
    width: 50%;
}

/*submit button and input name area */
#submit-button, #awesome-button, #terrible-button, #done, #user-name, #choose, 
#angry, #sad, #tired, #worthless, .okay, #send-form, #suggestion-box, #complete-button {
    background-color: white;
    color: #414770;
    padding: 10px;
    margin: 20px;
    border-color: #414770;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
}

#submit-button:hover, #awesome-button:hover, #terrible-button:hover, #done:hover, #choose:hover, 
#angry:hover, #sad:hover, #tired:hover, #worthless:hover, .okay:hover, #send-form:hover, #complete-button:hover {
    background-color: #414770;
    color: white;
    padding: 20px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    border-color: white;
    border-radius: 20px;
}

/* name input */
.name-repeat {
    text-transform: capitalize;
}

/*feedback form style */
#feedback {
    color: #2C2C2C;
    border: solid 1px #2C2C2C;
    border-radius: 20px;
    margin-top: 20px;
}

/*notice area */

#notice {
    font-family: 'Montserrat', sans-serif;
    color: #2C2C2C;
    margin-top: 50px;
}


/* for medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #box-area {
        width: 60%;
        margin: auto;
        padding: 20px;
    }
}

/* for smaller screen sizes from 500px wide and down */
@media screen and (max-width: 500px) {
    #box-area {
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    .list {
        width: 270px;
        margin:auto;
        padding-right: 10px;
    }
}